@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --background: #1f3b86;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
}

.App {
  min-width: 450px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 650px;
  margin: 25px 0 25px 0;
}

.menu-item {
  font-size: 15px;
  background-color: var(--background);
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px white;
}

.big {
  font-size: 28px;
}
