@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --background: #4650ac;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
}

.App {
  min-width: 490px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin: 25px 0 25px 0;
  user-select: none;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-color: var(--background);
  color: white;
  min-width: 80px;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px white;
}

#gameboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 180px;
  height: 180px;
  padding: 0;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--background);
  box-shadow: 0 0 0 1px white;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover{
  transform: scale(1.1);
}

.card-title {
  text-align: center;
  background-color: #4262b9;
  border-bottom: 1px solid white;
  padding: 3px 0 3px 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-image {
  width: 140px;
  height: auto;
}

.red-glow {
  box-shadow: 0 0 0 1px white,
  0 0 8px 3px red;
}

.green-glow {
  box-shadow: 0 0 0 1px white,
  0 0 8px 3px yellowgreen;
}

.big {
  font-size: 28px;
}

.btn {
  display: inline-block;
  background-color: #2d9b3f;
  color: white;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  opacity: 0.7;
  text-align: center;
  box-shadow: 0 0 2px 1px white;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  opacity: 1;
}
